// filter

.filter {
  display: flex;
  font-size: 18px;
  }

.filter h5{
  display: flex;
  align-items: center;
  }

.filter ul{
 display: flex;
 padding-inline-start: 25px;
 }

// info

.info img{
  width: 14px;
  height: 14px;
}

.info span{
  font-size: 14px;
  font-style: italic;
}
