// filter

.filter {
  display: flex;
  font-size: 18px;
  }

.filter h5{
  display: flex;
  align-items: center;
  }

.filter ul{
 display: flex;
 padding-inline-start: 25px;
 }

// info

.info img{
  width: 14px;
  height: 14px;
}

.info span{
  font-size: 14px;
  font-style: italic;
}

// top_index (filter + research_tab + info)

.top_index {
  margin-bottom: 20px;
  margin-top: 20px;
}

// article

article{
  display: flex;
  flex-direction: column;
  background-color:#FFF ;
  border-radius: 25px;
  width: 62%;
  height: 500px;
}

article > h4 {
  margin: 10px 30px
}

// article_grid

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  justify-content: space-around;
}

// aside_grid

aside{
  width:32%;
  background-color:#FFF ;
  border-radius: 25px;
  height: 500px;
}

aside > .aside_title {
  margin: 10px 30px
}

.aside_grid{
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  justify-content: space-around;
}
