// filter

.filter {
  display: flex;
  font-size: 18px;
  }

.filter h5{
  display: flex;
  align-items: center;
  }

.filter ul{
 display: flex;
 padding-inline-start: 25px;
 }

// info

.info img{
  width: 14px;
  height: 14px;
}

.info span{
  font-size: 14px;
  font-style: italic;
}

// top_index (filter + research_tab + info)

.top_index {
  margin-bottom: 20px;
  margin-top: 20px;
}

// article

article{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 25px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

article > h4 {
  margin: 10px 30px
}

article > h4 > a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(222, 184, 135);
}

article > h4 > a:hover {
  text-decoration: none;
  font-size: 20px;
  color: rgb(187, 153, 109);
}

// article_grid

.grid {
  display: grid;
  height: 80%;
  grid-template-columns: repeat(2, 1fr);
}

// aside_grid

aside{
  width: 28%;
  background-color: #FFF;
  border-radius: 25px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 120px;
  right: 58px;
}

aside > .aside_title {
  margin: 10px 30px
}

.aside_grid{
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  justify-content: space-around;
}
