.expo-show {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.card-info {
  background-color: white;
  width: 40%;
  margin-left: 26px;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  height: 300px;
}

.img-spa {
  width: 420px;
  height: 300px;
  text-align: center;
  background-color: #FFF;
  padding: 6px;
  border-radius: 10px;
}
