<h1>Book your spa</h1>

<%= simple_form_for [:spa, @booking] do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.submit %>
<% end %>
