<footer class="custom-footer mt-5 fixed-bottom">
  <div class="container">
    <div class="custom-container">
      <!--<div class="custom-container-block footer-police-size">
        <a href="#">Conditions d'utilisation</a>
        <a href="#">Gestion des cookies</a>
        <a href="#">Comment fonctionne le site</a>
        <a href="#">Contactez-nous</a>
      </div>-->
      <div class="custom-container-block-network">
        <span class="footer-police-size">Nos réseaux</span>
        <div>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="Instagram" class="custom-container-block-img"></a>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733635.png" alt="Twitter" class="custom-container-block-img"></a>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384021.png" alt="Facebook" class="custom-container-block-img"></a>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/5969/5969008.png" alt="TikTok" class="custom-container-block-img"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
