<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://coquillade.fr/_novaimg/4698289-1490140_70_994_4419_1177_2200_586.jpg);">
    <h1>Venez vous détendre dans notre sélection de SPA faite pour vous!</h1>
    <div class="btn-banner">
      <a class="btn btn-light mt-5 rounded-pill" href="/spas">Un moment de détente?</a>
    </div>
</div>
