<div class="banner mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.tacdn.com/media/attractions-splice-spp-674x446/06/73/26/c3.jpg);">
  <div class="container">
    <h1>Venez vous détendre dans notre sélection de SPA faite pour vous!</h1>
    <div class="btn-banner">
      <a class="btn btn-light mt-5 rounded-pill" href="/spas">Jetez un coup d'oeil!</a>
    </div>
  </div>
</div>

<div class="container">
  <div id="recent">

    <h1>Ajouts récents</h1>

    <div class="activites_expo">

      <div class="activites_cards" id="vieux_port">
        <a href="#">
        <img src="css/img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg" alt="photo Vieux Port">
        <h4>Vieux Port</h4>
        </a>
      </div>

      <div class="activites_wrap">
        <div class="activites_cards" id="fort_pomegues">
          <a href="#">
          <img src="css/img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg" alt="photo Fort de Pomègues">
          <h4>Fort de Pomègues</h4>
          </a>
        </div>
        <div class="activites_cards" id="iles_frioul">
          <a href="#">
          <img src="css/img/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg" alt="photo Îles du Frioul">
          <h4>Îles du Frioul</h4>
          </a>
        </div>
      </div>

      <div class="activites_cards" id="parc_calanques">
        <a href="#">
        <img src="css/img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg" alt="photo Parc National des Calanques">
        <h4>Parc National des Calanques</h4>
        </a>
      </div>

      <div class="activites_wrap">
        <div class="activites_cards" id="dame_garde">
          <a href="#">
          <img src="css/img/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg" alt="photo Notre-Dame-de-la-Garde">
          <h4>Notre-Dame-de-la-Garde</h4>
          </a>
        </div>
        <div class="activites_cards" id="parc_longchamp">
          <a href="#">
          <img src="css/img/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg" alt="photo Parc Longchamp">
          <h4>Parc Longchamp</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
