
<%# Top index  %>
<div class="container">
  <div class="top_index">
    <div class="d-flex justify-content-around">
      <div>
        <h4>Trouvez votre spa rêvé</h4>
        <p>Parmis les plus beaux jacuzzis, hammams et saunas, partout en France !</p>
        <div class="filter">
          <h5> Filtres </h5>
          <ul>
            <li class="filter_button">Hammam</li>
            <li class="filter_button">Sauna</li>
            <li class="filter_button">Jacuzzi</li>
          </ul>
        </div>
        <div class="info">
          <img src="https://cdn-icons-png.flaticon.com/512/665/665049.png" alt="pictogramme-information">
          <span>Plus de 500 spas disponibles !</span>
        </div>
      </div>
      <div>
        <div class="research_tab">
          <div class="research_symbol"> <img src="https://cdn-icons-png.flaticon.com/512/7472/7472700.png" alt="research_pin_symbol"> </div>
          <form>
            <input type="text" name="text" class="search" placeholder="Lille, France">
            <input type="submit" name="submit" class="submit" value="Rechercher">
            <input type="image" name="submit" class="loupe" src="css/img/picto/loupe.png">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <article>
      <h4>La selection</h4>
      <div class="grid">

      </div>
    </article>

    <aside>
      <h4>Les plus populaires &#9733;</h4>
    </aside>
  </div>
</div>




<ul>
<% @spas.each do |spa| %>
<li><%= link_to spa.name, spa_path(spa) %></li>
<% end %>
</ul>

<%= link_to "Create a new spa", new_spa_path %>
