
<%# Top index  %>
<div class="container">
  <div class="top_index">
    <div class="d-flex justify-content-around">
      <div>
        <h4>Trouvez votre spa rêvé</h4>
        <p>Parmis les plus beaux jacuzzis, hammams et saunas, partout en France !</p>
        <div class="filter">
          <h5> Filtres </h5>
          <ul>
            <li class="filter_button">Hammam</li>
            <li class="filter_button">Sauna</li>
            <li class="filter_button">Jacuzzi</li>
          </ul>
        </div>
        <div class="info">
          <img src="https://cdn-icons-png.flaticon.com/512/665/665049.png" alt="pictogramme-information">
          <span>Plus de 500 spas disponibles !</span>
        </div>
      </div>
      <div>
        <div class="research_tab">
          <div class="research_symbol"> <img src="https://cdn-icons-png.flaticon.com/512/7472/7472700.png" alt="research_pin_symbol"> </div>
          <form>
            <input type="text" name="text" class="search" placeholder="Lille, France">
            <input type="submit" name="submit" class="submit" value="Rechercher">
            <input type="image" name="submit" class="loupe" src="css/img/picto/loupe.png">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <article>
      <h4>La selection</h4>
      <div class="grid">
        <div class="card-selection">
          <a href="#">
            <img src="https://www.samm-honfleur.com/gallery/20221103162459.jpeg" alt="image spa">
            <h5>Spa Le Royal</h5>
            <p>A partir de <strong>80€</strong></p>
          </a>
        </div>
        <div class="card-selection">
          <a href="#">
            <img src="https://www.samm-honfleur.com/gallery/20221103162459.jpeg" alt="image spa">
            <h5>Spa Le Royal</h5>
            <p>A partir de <strong>80€</strong></p>
          </a>
        </div>
        <div class="card-selection">
          <a href="#">
            <img src="https://www.samm-honfleur.com/gallery/20221103162459.jpeg" alt="image spa">
            <h5>Spa Le Royal</h5>
            <p>A partir de <strong>80€</strong></p>
          </a>
        </div>
        <div class="card-selection">
          <a href="#">
            <img src="https://www.samm-honfleur.com/gallery/20221103162459.jpeg" alt="image spa">
            <h5>Spa Le Royal</h5>
            <p>A partir de <strong>80€</strong></p>
          </a>
        </div>
        <div class="card-selection">
          <a href="#">
            <img src="https://www.samm-honfleur.com/gallery/20221103162459.jpeg" alt="image spa">
            <h5>Spa Le Royal</h5>
            <p>A partir de <strong>80€</strong></p>
          </a>
        </div>
      </div>
    </article>

    <aside>
      <div class="d-flex justify-content-between aside_title">
        <h4>Les plus populaires</h4>
        <h4>&#9733;</h4>
      </div>
      <div class="aside_grid">
        <div class="card-aside">
          <a href="#">
            <img src="https://img.freepik.com/photos-premium/arrangement-spa-serviette-du-savon-du-sel_23-2148268482.jpg?w=2000">
            <div class="description">
              <div>
                <h4>Jaccuzi Le soleil du matin</h4>
                <p>A partir de <strong>128€</strong></p>
              </div>
            </div>
          </a>
        </div>
        <div class="card-aside">
          <a href="#">
            <img src="https://www.thalassopornic.com/upload/media/page/0001/02/7919a4483f0600d3f0fe535a05676fda8581a561.jpeg">
            <div class="description">
              <div>
                <h4>Hamam Au coeur de l'eau</h4>
                <p>A partir de <strong>71€</strong></p>
              </div>
            </div>
          </a>
        </div>
        <div class="card-aside">
          <a href="#">
            <img src="https://www.samm-honfleur.com/gallery/20210607152738.jpg">
            <div class="description">
              <div>
                <h4>Spa Tout Bleu et Blanc</h4>
                <p>A partir de <strong>68€</strong></p>
              </div>
            </div>
          </a>
        </div>
			</div>
    </aside>
  </div>
</div>




<ul>
<% @spas.each do |spa| %>
<li><%= link_to spa.name, spa_path(spa) %></li>
<% end %>
</ul>

<%= link_to "Create a new spa", new_spa_path if policy(Spa).new? %>
