
.card-selection{
  height: 40%;
  width: 29%;
  background-color: #FFF;
  margin: 1%;
  padding: 2px;
  border-radius: 25px;
  box-shadow:0px 0px 15px 4px #E1E1E1;
  display: flex;
  flex-direction: column;
}

.card-selection a{
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #000;
}

.card-selection h5{
  font-size: 13px;
  margin: 3% 0% 0% 5%;
}

.card-selection span{
  margin: 0% 5% 0% 5%;
  font-size: 11px;
}

.card-selection img{
  height: 60%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s all;
  border-radius: 25px 25px 0px 0px;
  transition: 0.3s all;
  // filter: blur(0.6px) grayscale(30%);
}

.card-selection:hover img{
  height: 76%;
  // object-fit: fill;
}

// div.card-selection:hover {
//   height: 48%;
//   width: 33%;
//   transition: 1s all;
// }

.card-selection:hover span{
  display: none;
}

#star_rating_selection {
  justify-content: flex-end;
  margin-top: 4px;
}
