
.card-selection{
  width: 80%;
  height: 300px;
  background-color: #FFF;
  margin: 10%;
  padding: 2px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 4px #e1e1e1;
}

.card-selection-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-selection a{
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #000;
}

.card-selection h5{
  font-size: 30px;
  margin-top: 5px;
}

.card-selection span{
  display: block;
  text-align: center;
  font-size: 15px;
}

.card-selection img{
  height: 60%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s all;
  border-radius: 25px 25px 0px 0px;
  transition: 0.3s all;
  // filter: blur(0.6px) grayscale(30%);
}

.card-selection:hover img{
  height: 76%;
  // object-fit: fill;
}

// div.card-selection:hover {
//   height: 48%;
//   width: 33%;
//   transition: 1s all;
// }

.card-selection:hover span{
  display: none;
}

#star_rating_selection {
  font-size: 20px;
}
