.card-info{
  display:flex;
}
.card-info img{
  width: 600px;
  border-radius:30px ;
}
.card-info-text {
  padding: 60px;

}
.big-card{
  background-color: white;
  border-radius: 30px;
}
.button{
  background-color: grey;
  color: white;
  padding: 8.5px 7.1px;
  border-radius: 2px;
  width: 73px;
  height: 40px;
}
