.login-form {
  width: 500px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
}

.register-form {
  width: 500px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
}

.form-resize {
  width: 580px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
}
