.navbar-lewagon {
  justify-content: space-between;
  background-color: #f1e2c5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.login-size{
font-size: larger;
}
