.stars-black {
  position: relative;
  display: inline-block;
  color: #ccc;
  font-size: 0.8em;
  margin-left: 16px;
}

.stars-black i {
  margin: -1.5px;
}

.stars-gold {
  position: absolute;
  top: 0px;
  left: 0px;
  white-space: nowrap;
  overflow: hidden;
  color: #f8ce0b;
  // width: 100%;
}

.star_rating {
  display: flex;
}

.star_rating p {
  font-size: 0.8em;
  margin-left: 6px;
}
